<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value>com.touchnvoteui.DeviceInfoEndpoint,com.touchnvoteui.MessageEndpoint,com.touchnvoteui.entities.SecuredLoginEndpoint,com.touchnvoteui.entities.UserDetailsEndpoint,com.touchnvoteui.entities.UserDetailsListEndpoint</param-value>
  </init-param>
 </servlet>
 <servlet>
     <servlet-name>StoreUserDetails</servlet-name>
     <servlet-class>com.touchnvoteui.StoreUserDetails</servlet-class>
 </servlet>
 <servlet>
     <servlet-name>LoginUserDetails</servlet-name>
     <servlet-class>com.touchnvoteui.LoginUserDetails</servlet-class>
 </servlet>
 <servlet>
     <servlet-name>SecurityQuestion</servlet-name>
     <servlet-class>com.touchnvoteui.SendSecurityQuestion</servlet-class>
 </servlet>
 <servlet>
     <servlet-name>SecurityAnswer</servlet-name>
     <servlet-class>com.touchnvoteui.CheckSecurityAnswer</servlet-class>
 </servlet>
  <servlet>
     <servlet-name>PasswordChange</servlet-name>
     <servlet-class>com.touchnvoteui.ChangePassword</servlet-class>
 </servlet>
   <servlet>
     <servlet-name>SaveClass</servlet-name>
     <servlet-class>com.touchnvoteui.SaveClass</servlet-class>
 </servlet>
 <servlet>
     <servlet-name>ClassAvailable</servlet-name>
     <servlet-class>com.touchnvoteui.ClassAvailable</servlet-class>
 </servlet>
  <servlet>
     <servlet-name>AddStudentToClass</servlet-name>
     <servlet-class>com.touchnvoteui.AddStudentToClass</servlet-class>
 </servlet>
   <servlet>
     <servlet-name>PostQuiz</servlet-name>
     <servlet-class>com.touchnvoteui.PostQuiz</servlet-class>
 </servlet>
 <servlet>
     <servlet-name>QuizTitleList</servlet-name>
     <servlet-class>com.touchnvoteui.QuizTitleList</servlet-class>
 </servlet>
 <servlet>
     <servlet-name>QuizQuestion</servlet-name>
     <servlet-class>com.touchnvoteui.QuizQuestion</servlet-class>
 </servlet>
 <servlet>
     <servlet-name>CheckandSendQuestions</servlet-name>
     <servlet-class>com.touchnvoteui.CheckandSendQuestions</servlet-class>
 </servlet>
  <servlet>
     <servlet-name>GetQuizAnswers</servlet-name>
     <servlet-class>com.touchnvoteui.GetQuizAnswers</servlet-class>
 </servlet>
 <servlet>
     <servlet-name>ComputeResult</servlet-name>
     <servlet-class>com.touchnvoteui.ComputeResult</servlet-class>
 </servlet>
  <servlet>
     <servlet-name>EntireQuizList</servlet-name>
     <servlet-class>com.touchnvoteui.EntireQuizList</servlet-class>
 </servlet>
 <servlet>
     <servlet-name>CheckQuestion</servlet-name>
     <servlet-class>com.touchnvoteui.CheckQuestion</servlet-class>
 </servlet>
 
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
     <servlet-name>StoreUserDetails</servlet-name>
     <url-pattern>/store_user_details</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
     <servlet-name>LoginUserDetails</servlet-name>
     <url-pattern>/login_user_details</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
     <servlet-name>SecurityQuestion</servlet-name>
     <url-pattern>/get_security_question</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
     <servlet-name>SecurityAnswer</servlet-name>
     <url-pattern>/check_security_answers</url-pattern>
 </servlet-mapping>
   <servlet-mapping>
     <servlet-name>PasswordChange</servlet-name>
     <url-pattern>/change_password</url-pattern>
 </servlet-mapping>
    <servlet-mapping>
     <servlet-name>SaveClass</servlet-name>
     <url-pattern>/class_details</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
     <servlet-name>ClassAvailable</servlet-name>
     <url-pattern>/class_available</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
     <servlet-name>AddStudentToClass</servlet-name>
     <url-pattern>/add_student_to_class</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
     <servlet-name>PostQuiz</servlet-name>
     <url-pattern>/post_quiz</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
     <servlet-name>QuizTitleList</servlet-name>
     <url-pattern>/quiz_title_list</url-pattern>
 </servlet-mapping>  
  <servlet-mapping>
     <servlet-name>QuizQuestion</servlet-name>
     <url-pattern>/quiz_question</url-pattern>
 </servlet-mapping> 
 <servlet-mapping>
     <servlet-name>CheckandSendQuestions</servlet-name>
     <url-pattern>/checkandsendquestions</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
     <servlet-name>GetQuizAnswers</servlet-name>
     <url-pattern>/post_answers</url-pattern>
 </servlet-mapping>  
  <servlet-mapping>
     <servlet-name>ComputeResult</servlet-name>
     <url-pattern>/compute_result</url-pattern>
 </servlet-mapping> 
   <servlet-mapping>
     <servlet-name>EntireQuizList</servlet-name>
     <url-pattern>/entire_quiz_list</url-pattern>
 </servlet-mapping>  
 <servlet-mapping>
     <servlet-name>CheckQuestion</servlet-name>
     <url-pattern>/check_question</url-pattern>
 </servlet-mapping>  
</web-app>